{% extends 'index.html' %}

{% block showRulePageContent %}
    <form id="data-form3">
        <div id="main-form">
            <div class="section-container">
                <h2>Nombre de la regla</h2>
                <section>
                    <div id="rule-details">
                        
                        <!-- Información de los campos de la regla -->
                        <div id="rule-fields">
                            <!-- Aquí se mostrarán los campos de la regla -->
                        </div>
                
                        <!-- Botón para eliminar la regla -->
                        <button id="delete-rule-btn" onclick="deleteRule()">Eliminar Regla</button>
                
                    </div>
                </section>
            </div>
        </div>
    </form>
{% endblock %}